.signoutContainer {
  text-align: right;
  padding: 12px 0;
  width: 180px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.signoutContainer:hover {
  background: rgba(255, 255, 255, 0.1);
  padding-right: 32px;
}

.signoutText {
  font-size: 24px;
  color: white;
  margin: 0;
}

.signoutText:hover {
  color: white;
}

