.nameContainer {
    text-align: right;
    padding: 12px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    width: 180px;
  }

  .nameContainer:hover {
    background: rgba(255, 255, 255, 0.1);
    padding-right: 32px;
  }

  .welcomeText {
    font-size: 1rem;
    color: lightgray;
    margin: 0;
  }

  .userName {
    font-size: 1.5rem;
    color: light;
    color: #ffffff;
  }

  @media screen and (max-width: 480px) {
    .userName {
      font-size: 1.2rem;
      color: light;
    }
  }