.nameContainer {
    text-align: right;
    padding: 0 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .nameContainer:hover {
    opacity: 0.8;
  }

  .welcomeText {
    font-size: 1rem;
    color: lightgray;
    margin: 0;
  }

  .userName {
    font-size: 1.5rem;
    color: light;
    color: #ffffff;
  }

  @media screen and (max-width: 480px) {
    .userName {
      font-size: 1.2rem;
      color: light;
    }
  }