  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  
  .nav-link:hover {
    opacity: 1;
    color: #ffe585;
  }

  .copyright {
    font-size: 12px;
    text-align: center;
  }
    
  .glass {
    background: linear-gradient(to right, #4c008217, #80008043, #24002459);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.193);
  }


  @media (max-width: 768px) {
    .copyright {
      padding-bottom: 5px;
    }
  }

  @media (max-width: 480px) {
    .nav-link {
      font-size: 12px;
    }

    .copyright {
      font-size: 10px;
    }
  }
  